<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Age</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Age</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input clearInput value="X" type="text" placeholder="Enter a name" [(ngModel)]="name"></ion-input>
      </ion-item>
      <br/>
      <ion-item lines="none">
        <ion-button style="width: 100px; height: 40px; font-size: 14px; text-transform: none;" (click)="Age()">Gender</ion-button>
      </ion-item>
      <br/>
      <ion-item lines="none">
        <p style="font-size: 18px; text-transform: none;">Edad de la persona: {{age}}</p>
      </ion-item>
      <img [src]="imagen" width="200" height="200" style="margin-left: 16px;">  
    </ion-list>
  </div>
</ion-content>